<p id="notice"><%= notice %></p>

<p>
  <b>Status</b>
  <%= @ticket.status %>
</p>

<p>
  <b>User:</b>
  <%= @ticket.user_id %>
</p>

<p>
  <b>Title:</b>
  <%= @ticket.title %>
</p>

<p>
  <b>Priority:</b>
  <%= @ticket.priority %>
</p>

<p>
  <b>Description:</b>
  <%= @ticket.description %>
</p>

<p>
  <b>Type:</b>
  <%= @ticket.type %>
</p>

<p>
  <b>Project:</b>
  <%= @ticket.project_id %>
</p>


<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>


<%=simple_form_for @commentnew ,remote: true do |f|%>
<%= f.text_area :content ,rows: 2 ,id: "text-area-comments"%>
<%=f.hidden_field :commentable_id,value: @ticket.id %>
<%=f.hidden_field :commentable_type,value: 'ticket' %>
<%=f.hidden_field :user_id,value: current_user.id %>
<%= f.submit   %>
<%end%>
<h1> Comments : </h1>
<p id="fetch-ajax" >
</p>
<%= render @comments %>