<p id="notice"><%= notice %></p>


  <h1> Project name</h1>
<p>
  <%= @project.name %>

  
  
</p>
<h1> Tickets of projects </h1>
<% @tickets.each do |ticket| %>
<%= ticket.title %><br>
<%end%>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
